*{
    margin: 0;
    padding: 0;
    font-family: 'roboto';
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.3rem 5rem;
    background-color: black;
    color: white;
    text-decoration: none;    
}

nav ul li{
    margin: 10px;
    list-style-type: none;
    display: inline-flex;
    align-items: flex-end;
    background-color: white;
}

.nav_logo{
    width: 6%; 
    min-width: 3rem;
    padding: .5rem;
}

main{
    margin: 0rem 10rem;
}


h1{
    font-size: 5rem;
    /* text-shadow: rgb(209, 197, 23) 2px 2px 5px; */
    width: 100%;
    color: white;
    text-transform: uppercase;
    text-align: center;
    
}

footer{
    display: flex;
    justify-content: center;
    margin: 10rem 0 4rem 0;
}

.contact{
    padding: 10px;
    border: 1px solid rgba(187, 185, 185, 0.637);
    border-radius: 5px;
}

.first-paragraph{
    font-size: 1.2rem;
    margin: 2rem;
    color: white;
    
}

.second-paragraph{
    font-size: 1.2rem;
    margin: 0 auto;
    margin-top: 20rem;
    color: white;
}

.logo{
    height: 70px;
}

.office-image{
    height: 40rem;
}

#first-main{
    margin: 5rem 0 0 0;
}
