<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css" />
    <title>404 Error</title>
</head>
<body>
    <section class="vh-100 bg-near-black baskerville">
        <header class="tc ph5 lh-copy">
            <h1 class="f1 f-headline-l code mb3 fw9 dib tracked-tight red">404</h1>
            <h2 class="tc f1-l yellow fw1">Sorry, we can't find the page you are looking for.</h2>
        </header>
        <p class="fw1 i white tc mt4 mt5-l f4 f3-l">Are you looking for one of these?</p>
        <ul class="list tc pl0 w-100 mt5">
          <li class="dib"><a class="f5 f4-ns link white db pv2 ph3 hover-red" href="/">Home</a></li>
          <li class="dib"><a class="f5 f4-ns link white db pv2 ph3 hover-red" href="/about">About</a></li>
          <li class="dib"><a class="f5 f4-ns link white db pv2 ph3 hover-red" href="/resources">Resources</a></li>
          <li class="dib"><a class="f5 f4-ns link white db pv2 ph3 hover-red" href="/contact-us">Contact</a></li>
          
        </ul>
      </section>
</body>
</html>