<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
    <title>About</title>
</head>
<body>
<!-- nav -->
    <nav>
        <h1>Logo</h1>
        <div class="nav links">
            <ul>
                <li>About</li>
                <li>Resources</li>
                <li class="contact">Contact Us</li>
            </ul>
        </div>
    </nav>

</body>
</html>