<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/articles.css' %}" />
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css" />
    <title>Aricles</title>
</head>

<body>

    <div class="pa4">
        <h1 class="yellow tc ttu">Articles</h1>
        <div class="overflow-auto">
            <table class="f6 w-100 mw8 center" cellspacing="0">
                <thead>
                    <tr>
                        <th class="fw6 bb b--black-20 tl pb3 pr3 bg-white">Author</th>
                        <th class="fw6 bb b--black-20 tl pb3 pr3 bg-white">Title</th>
                        <th class="fw6 bb b--black-20 tl pb3 pr3 bg-white">Link</th>
                    </tr>
                </thead>
                <tbody class="lh-copy">
                    <tr>
                        <td class="pv3 pr3 bb b--black-20">Robert H. Frank</td>
                        <td class="pv3 pr3 bb b--black-20">“How Rising Income Inequality Threatens Access to the Legal System”</td>
                        <td class="pv3 pr3 bb b--black-20"><a href="https://www.mitpressjournals.org/doi/full/10.1162/daed_a_00530">READ HERE</a></td>
                    </tr>
                    <tr>
                        <td class="pv3 pr3 bb b--black-20">Rebecca L. Sandefur</td>
                        <td class="pv3 pr3 bb b--black-20">“Access to What?”</td>
                        <td class="pv3 pr3 bb b--black-20"><a href="https://www.mitpressjournals.org/doi/full/10.1162/daed_a_00534">READ HERE</a></td>
                    </tr>
                    <tr>
                        <td class="pv3 pr3 bb b--black-20">Ramin Skibba</td>
                        <td class="pv3 pr3 bb b--black-20">"The Disturbing Resilience of Scientific Racism"</td>
                        <td class="pv3 pr3 bb b--black-20"><a href="https://www.smithsonianmag.com/science-nature/disturbing-resilience-scientific-racism-180972243/">READ HERE</a></td>
                    </tr>
                    <tr>
                            <td class="pv3 pr3 bb b--black-20">Laura Smith</td>
                            <td class="pv3 pr3 bb b--black-20">“Racism and Antiracism Resources for White People”</td>
                            <td class="pv3 pr3 bb b--black-20"><a href="https://medium.com/@lauracarosmith/racism-and-antiracism-must-reads-that-you-may-not-have-come-across-9f05f1e305cd">READ HERE</a></td>
                        </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>