<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/beauty_brands.css' %}" />
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css" />
    <title>Beauty Brands</title>
</head>

<script src="https://use.fontawesome.com/fc14894b17.js"></script>

<body>
    <nav class="dt w-100 bg-white border-box pa3 ph5-ns">
        <a class="dtc v-mid mid-gray link dim w-25" href="#" title="Home">
            <img src="static/img/Logo_No_Text.png" class="dib w2 h2 br-100" alt="Site Name">
        </a>
        <div class="dtc v-mid w-75 tr">
            <a class="link dim dark-gray f6 f5-ns dib mr3 mr4-ns" href="/about" title="About">About</a>
            <a class="link dim dark-gray f6 f5-ns dib mr3 mr4-ns" href="/resources" title="Store">Resources</a>
            <a class="link dim dark-gray f6 f5-ns dib" href="/contact-us" title="Contact">Contact</a>
        </div>
    </nav>
    <div class="back_to_button w-100 w-60-ns pl3-ns avenir">
        <a class="db pv4 ph3 ph0-l no-underline white dim" href="/resources"><i class="fa white fa-long-arrow-left"
                aria-hidden="true"></i> Back to resources</a>
    </div>


    <h1 class="f1-l fw1 baskerville mt0 pb5 tc yellow ttu lh-title">Beauty Brands</h1>
    <div class="dt dt--fixed">
        <!-- makeup -->
        <div class="dtc tc pv4">
            <h1 class="f2-l fw1 baskerville mt0 pb1 tc yellow ttu lh-title">Makeup</h1>
            {% for brand in brands %}
            {% if brand.category == 'Makeup' %}
            <a class="db center mw5 pb5 tc black link dim" title="{{ brand.name }}" href="{{ brand.link }}">

                <img class="db ba b--black-10"/ alt="{{ brand.name }}" src="{{ brand.photo }}">

                <dl class="mt2 f6 lh-copy">
                    <dd class="ml0 yellow">{{ brand.name }}</dd>
                </dl>
            </a>
            {% endif %}
            {% endfor %}
        </div>
        <!-- hair -->
        <div class="dtc tc pv4">
            <h1 class="f2-l fw1 baskerville mt0 pb1 tc yellow ttu lh-title">Hair</h1>
            {% for brand in brands %}
            {% if brand.category == 'Hair' %}
            <a class="db center mw5 pb5 tc black link dim" title="{{ brand.name }}" href="{{ brand.link }}">

                <img class="db ba b--black-10"/ alt="{{ brand.name }}" src="{{ brand.photo }}">

                <dl class="mt2 f6 lh-copy">
                    <dd class="ml0 yellow">{{ brand.name }}</dd>
                </dl>
            </a>
            {% endif %}
            {% endfor %}
        </div>
        <!-- skincare -->
        <div class="dtc tc pv4">
            <h1 class="f2-l fw1 baskerville mt0 pb1 tc yellow ttu lh-title">Skin Care</h1>
            {% for brand in brands %}
            {% if brand.category == 'Skin' %}
            <a class="db center mw5 pb5 tc black link dim" title="{{ brand.name }}" href="{{ brand.link }}">
                <img class="db ba b--black-10"/ alt="{{ brand.name }}" src="{{ brand.photo }}">
                <dl class="mt2 f6 lh-copy">
                    <dd class="ml0 yellow">{{ brand.name }}</dd>
                </dl>
            </a>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</body>

</html>