<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css" />
    <link rel="stylesheet" href="{% static 'css/books.css' %}" />
    <title>Books</title>
</head>

<script src="https://use.fontawesome.com/fc14894b17.js"></script>

<body>
    <nav class="dt w-100 bg-white border-box pa3 ph5-ns">
        <a class="dtc v-mid mid-gray link dim w-25" href="/" title="Home">
            <img src="static/img/Logo_No_Text.png" class="dib w2 h2 br-100" alt="Site Name">
        </a>
        <div class="dtc v-mid w-75 tr">
            <a class="link dim dark-gray f6 f5-ns dib mr3 mr4-ns" href="/about" title="About">About</a>
            <a class="link dim dark-gray f6 f5-ns dib mr3 mr4-ns" href="/resources" title="Store">Resources</a>
            <a class="link dim dark-gray f6 f5-ns dib" href="/contact-us" title="Contact">Contact</a>
        </div>
    </nav>
    <div class="back_to_button w-100 w-60-ns pl3-ns avenir">
        <a class="db pv4 ph3 ph0-l no-underline white dim" href="/resources"><i class="fa white fa-long-arrow-left"
                aria-hidden="true"></i> Back to resources</a>
    </div>

    <article class="cf">
        <div class="fl w-50 pr4 tc">
            <section class="mw7 center avenir">
                <h2 class="baskerville fw1 yellow ph3 ph0-l">Books</h2>

                <!-- LOOP for books in database -->
                {% for book in books %}
                <article class="b--black-10 pa3">
                    <a class="db pv4 ph3 ph0-l no-underline white dim" href="{{ book.link }}">
                        <div class="flex flex-column flex-row-ns">
                            <div class="pr3-ns mb4 mb0-ns w-100 w-40-ns">
                                <img src="{{ book.photo }}" class="db" alt="book">
                                <p class="gray tl">{{ book.publisher }}</p>
                            </div>
                            <div class="w-100 w-60-ns pl3-ns">
                                <h1 class="f3 fw1 baskerville yellow mt0 lh-title">
                                    {{ book.title }}
                                </h1>
                                <p class="f6 f5-l lh-copy">
                                    {{ book.description }}
                                </p>
                                <p class="f6 lh-copy yellow mv0">By {{ book.author }}</p>
                            </div>
                        </div>
                    </a>
                </article>
                {% endfor %}
            </section>
        </div>
        <!-- LOOP for Articles in database -->
        <div class="fl w-50 pl4 tc">
            <section class="mw7 center avenir">
                <h2 class="baskerville fw1 yellow ph3 ph0-l">Articles</h2>
                {% for article in articles %}
                <article class="pa3 pa4-ns b--black-10">
                    <h1 class="f3 yellow f2-m f1-l">{{article.title}}</h1>
                    <h1 class="f5 white">By {{article.author}}</h1>
                    <a class="f6 fw6 db yellow link hover-red" href="{{ article.link }}">READ HERE</a>
                </article>
                {% endfor %}
        </div>
    </article>



</body>

</html>