<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/contacts.css' %}" />
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css" />
    <title>Our current contacts</title>
</head>

<body>
    <nav class="dt w-100 bg-white border-box pa3 ph5-ns">
        <a class="dtc v-mid mid-gray link dim w-25" href="/" title="Home">
            <img src="static/img/Logo_No_Text.png" class="dib w2 h2 br-100" alt="Site Name">
        </a>
        <div class="dtc v-mid w-75 tr">
            <a class="link dim dark-gray f6 f5-ns dib mr3 mr4-ns" href="/about" title="About">About</a>
            <a class="link dim dark-gray f6 f5-ns dib mr3 mr4-ns" href="/resources" title="Store">Resources</a>
            <a class="link dim dark-gray f6 f5-ns dib" href="/contact-us" title="Contact">Contact</a>
        </div>
    </nav>

    {% for contact in contacts %}
    <article class="pa3 pa5-ns bt bb b--white-70">
        <h1 class="f3 yellow f2-m f1-l">Name: {{contact.name}}</h1>
        <h1 class="f4 white"> Email: {{contact.email}}</h1>
        <p class="f5 white"> {{contact.message}}</p>
    </article>
    {% endfor %}
</body>

</html>