<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/contact.css' %}" />
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css" />
    <title>Contact</title>
</head>

<body>
    <header class="tc ph4">
        <h1 class="f3 f2-m ttu f1-l fw2 yellow mv3">
            Get in touch if you need a website
        </h1>
        <h2 class="f5 f4-m f3-l fw2 white-90 mt0 lh-copy">
            or if you have any additional resources. Constructive critism is always welcome. If you have any resources suggestions, message them to us.
        </h2>
    </header>

    <form action="/create-contact" method="POST" class="pa4 white pt4 tc">
            {% csrf_token %}
        <div class="mt3">
            <label for="name" class="db fw4 lh-copy yellow f4">Name </label>
            <input class="pa2 input-reset ba bg-white w-100 measure" name="name" type="text" aria-describedby="name-desc">
        </div>
        <div class="mt3">
            <label class="db fw4 lh-copy yellow f4" for="email-address">Email address</label>
            <input class="pa2 input-reset ba bg-white w-100 measure" type="email" name="email">
        </div>
        <div class="mt3">
            <label for="comment" class="f4  db yellow mb2">Message</label>
            <textarea name="message" class=" border-box hover-black w-100 measure ba b--black-20 pa2 br2 mb2"
                aria-describedby="comment-desc"></textarea>
        </div>
        <button type="submit" class="f4 link dim br2 ba ph3 pv2 mb2 dib bg-yellow black">Submit</button>
        
    </form>



</body>

</html>