<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/contact.css' %}" />
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css" />
    <title>Contact</title>
</head>

<script src="https://use.fontawesome.com/fc14894b17.js"></script>

<body>
    <!-- NAV -->
    <nav class="dt w-100 bg-white border-box pa3 ph5-ns">
        <a class="dtc v-mid mid-gray link dim w-25" href="#" title="Home">
            <img src="static/img/Logo_No_Text.png" class="dib w2 h2 br-100" alt="Site Name">
        </a>
        <div class="dtc v-mid w-75 tr">
            <a class="link dim dark-gray f6 f5-ns dib mr3 mr4-ns" href="/about" title="About">About</a>
            <a class="link dim dark-gray f6 f5-ns dib mr3 mr4-ns" href="/resources" title="Store">Resources</a>
            <a class="link dim dark-gray f6 f5-ns dib" href="/contact-us" title="Contact">Contact</a>
        </div>
    </nav>
    <div class="back_to_button w-100 w-60-ns pl3-ns avenir">
        <a class="db pv4 ph3 ph0-l no-underline white dim" href="/"><i class="fa white fa-long-arrow-left"
                aria-hidden="true"></i> Back to home</a>
    </div>
    <!-- HEADER -->
    <header class="tc ph4">
        <h1 class="f3 f2-m ttu f1-l fw2 yellow mv3">
            Let’s Talk About Your Website
        </h1>
        <h2 class="f5 f4-m f3-l fw2 white-90 mt0 lh-copy">
            Need a website? Have resources to share? Want to help us out? We can't wait to hear from you.
        </h2>
    </header>
    <!-- ERROR MESSAGES -->
    {% if messages %}
    <ul style="list-style-type: none" class="red tc">
        {% for message in messages %}
        <p {% if message.tags %} class="{{ message.tags }} red" {% endif %}>{{ message }}</p>
        {% endfor %}
    </ul>
    {% endif %}
    <!-- FORM -->
    <form action="/create-contact" method="POST" class="pa4 white pt4 tc">
        {% csrf_token %}
        <div class="mt3">
            <label for="name" class="db fw4 lh-copy yellow f4">Name </label>
            <input class="pa2 input-reset ba bg-white w-100 measure" name="name" type="text"
                aria-describedby="name-desc">
        </div>
        <div class="mt3">
            <label class="db fw4 lh-copy yellow f4" for="email-address">Email address</label>
            <input class="pa2 input-reset ba bg-white w-100 measure" type="email" name="email">
        </div>
        <div class="mt3">
            <label for="comment" class="f4  db yellow mb2">Message</label>
            <textarea name="message" class=" border-box hover-black w-100 measure ba b--black-20 pa2 br2 mb2"
                aria-describedby="comment-desc"></textarea>
        </div>
        <button type="submit" id="button" class="f4 link dim br2 ba ph3 pv2 mb2 dib bg-yellow black">Submit</button>

    </form>

    <!-- FOOTER -->
    <section class="tc pa2" id="lab_social_icon_footer">
        <h1 class="f3 mb2">Or reach out below</h1>
        <h2 class="f5 fw4 gray mt0">We respond best through email, but ensure we will get back to you on all platforms.
        </h2>
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        <div class="container">
            <div class="text-center center-block">
                <a href="mailto:contact@neighborhooddevs.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
            </div>
        </div>
    </section>

</body>


<!-- Modal Section -->
<!-- <div class="bg-modal">
    <div class="modal-content">
        <div class="close">+</div>
        <div class="modal-inner">
            <h1 class="yellow underline">Thank you for your message.</h1>
            <h2 class="white">Someone from our team will be in touch shortly.</h2>
            <p class="yellow"><a class="vote-link" href="/">Return home <i class="fa fa-long-arrow-right black" aria-hidden="true"></i></a></p>
        </div>
    </div>
</div>

<script src="https://use.fontawesome.com/fc14894b17.js"></script>
<script src="{% static 'js/contact.js' %}"></script> -->

</html>