<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/donate.css' %}" />
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css" />
    <title>Donate</title>
</head>

<script src="https://use.fontawesome.com/fc14894b17.js"></script>

<body>
    <nav class="dt w-100 bg-white border-box pa3 ph5-ns">
        <a class="dtc v-mid mid-gray link dim w-25" href="/" title="Home">
            <img src="static/img/Logo_No_Text.png" class="dib w2 h2 br-100" alt="Site Name">
        </a>
        <div class="dtc v-mid w-75 tr">
            <a class="link dim dark-gray f6 f5-ns dib mr3 mr4-ns" href="/about" title="About">About</a>
            <a class="link dim dark-gray f6 f5-ns dib mr3 mr4-ns" href="/resources" title="Store">Resources</a>
            <a class="link dim dark-gray f6 f5-ns dib" href="/contact-us" title="Contact">Contact</a>
        </div>
    </nav>
    <div class="back_to_button w-100 w-60-ns pl3-ns avenir">
        <a class="db pv4 ph3 ph0-l no-underline white dim" href="/resources"><i class="fa white fa-long-arrow-left"
                aria-hidden="true"></i> Back to resources</a>
    </div>
    <div class="pa4 tc lh-copy">
        <h1 class="f1-l fw1 baskerville mt0 yellow ttu lh-title">Where You Can Donate Now</h1>


        <article class="cf">
            <div class="fl w-50  tc">
                <h1 class="f3 fw1 baskerville mt0 yellow ttu lh-title">Organizations</h1>
                
                <!-- LOOP FOR ORGANIZATIONS TO DONATE TO -->
                {% for organization in organizations %}
                <a class="f4 fw6 db white link hover-dark-red"
                    href="{{ organization.link }}">{{ organization.name }}</a>
                {% endfor %}
                <!-- END LOOP FOR ORGANIZATIONS TO DONATE TO -->
            </div>
            <div class="fl w-50 tc">
                <div class=" tc lh-copy">
                    <h1 class="f3 fw1 baskerville mt0 yellow ttu lh-title">Petitions</h1>
                    {% for petition in petitions %}
                    <a class="f4 fw6 db white link hover-dark-red" href="{{ petition.link }}">{{ petition.name }}</a>
                    {% endfor %}
                </div>
            </div>
        </article>




    </div>

</body>

</html>