<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/donate.css' %}" />
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css" />
    <title>Donate</title>
</head>

<script src="https://use.fontawesome.com/fc14894b17.js"></script>

<body>
    <div class="back_to_button w-100 w-60-ns pl3-ns avenir">
        <a class="db pv4 ph3 ph0-l no-underline white dim" href="/resources"><i class="fa white fa-long-arrow-left"
                aria-hidden="true"></i> Back to resources</a>
    </div>
    <div class="pa4 tc lh-copy">
        <h1 class="f1-l fw1 baskerville mt0 yellow ttu lh-title">Where You Can Donate Now</h1>
        <h1 class="f3 fw1 baskerville mt0 yellow ttu lh-title">Organizations</h1>
        <a class="f4 fw6 db white link hover-near-black"
            href="https://secure.actblue.com/donate/ms_blm_homepage_2019">Black Lives Matter</a>
        <a class="f4 fw6 db white link hover-dark-gray" href="https://secure.actblue.com/donate/naacp-1">NAACP</a>
        <a class="f4 fw6 db white link hover-mid-gray"
            href="https://secure.actblue.com/contribute/page/support-us">Color of Change</a>
        <a class="f4 fw6 db white link hover-gray" href="https://untilfreedom.com/">Until Freedom</a>
        <a class="f4 fw6 db white link hover-dark-red" href="https://www.joincampaignzero.org/">Campaign Zero</a>
        <a class="f4 fw6 db white link hover-red" href="https://secure.actblue.com/donate/ddsignup">Dream Defenders</a>
        <a class="f4 fw6 db white link hover-purple" href="https://advancementproject.org/donate/">Advancement Project
            National Office</a>
        <a class="f4 fw6 db white link hover-light-purple"
            href="https://secure.eifoundation.org/site/Donation2?df_id=6082&mfc_pref=T&6082.donation=form1&s_src=kyrcmain&utm_source=kyrcmain">Know
            Your Rights Camp</a>
        <a class="f4 fw6 db white link hover-dark-pink" href="https://act.thedreamcorps.org/donate/donate/">#Cut50</a>
        <a class="f4 fw6 db white link hover-hot-pink"
            href="https://giving.uchicago.edu/site/Donation2?df_id=1714&mfc_pref=T&1714.donation=form1">Black Youth
            Project</a>
        <a class="f4 fw6 db white link hover-light-pink" href="https://www.ncbcp.org/donate/">National Coalition on
            Black Civic Participation</a>
        <a class="f4 fw6 db white link hover-dark-green" href="http://www.livefreeusa.org/ourcalling">Live Free USA</a>
        <a class="f4 fw6 db white link hover-green" href="https://aapf.org/support"> African American Policy Forum </a>
        <a class="f4 fw6 db white link hover-navy" href="http://www.pisab.org/">People’s Institute Institute for Survival and Beyond </a>
        <a class="f4 fw6 db white link hover-dark-blue" href="https://blacktransmen.org/">Black Transman Inc </a>
        <a class="f4 fw6 db white link hover-blue" href="https://www.snap4freedom.org/?fbclid=IwAR0aXWjoZ-XsktzegjfOqlWPPKVk2pqLGUFSRXBVGYRaFvmIY6eqqv3-XcY">SNaPCo</a>
        <a class="f4 fw6 db white link hover-near-black"
            href="https://www.taagg.org/">Transgender Awareness Alliance</a>
        <a class="f4 fw6 db white link hover-dark-gray" href="https://kweenculture.com/">Kween Culture Initiative</a>
        <a class="f4 fw6 db white link hover-mid-gray"
            href="http://www.nbjc.org/">National Black Justice Coalition (NBJC)</a>
            <a class="f4 fw6 db white link hover-gray" href="https://untilfreedom.com/">-</a>
        <a class="f4 fw6 db white link hover-dark-red" href="https://www.joincampaignzero.org/">-</a>
        <a class="f4 fw6 db white link hover-red" href="https://secure.actblue.com/donate/ddsignup">-</a>
        <a class="f4 fw6 db white link hover-purple" href="https://advancementproject.org/donate/">-</a>
        <a class="f4 fw6 db white link hover-light-purple"
            href="https://secure.eifoundation.org/site/Donation2?df_id=6082&mfc_pref=T&6082.donation=form1&s_src=kyrcmain&utm_source=kyrcmain">-</a>
        <a class="f4 fw6 db white link hover-dark-pink" href="https://act.thedreamcorps.org/donate/donate/">-</a>
        <a class="f4 fw6 db white link hover-hot-pink"
            href="https://giving.uchicago.edu/site/Donation2?df_id=1714&mfc_pref=T&1714.donation=form1">-</a>
        <a class="f4 fw6 db white link hover-light-pink" href="https://www.ncbcp.org/donate/">-</a>
        <a class="f4 fw6 db white link hover-dark-green" href="http://www.livefreeusa.org/ourcalling">-</a>
        <a class="f4 fw6 db white link hover-green" href="https://aapf.org/support"> -</a>
        <a class="f4 fw6 db white link hover-navy" href="http://www.pisab.org/">-</a>
        <a class="f4 fw6 db white link hover-dark-blue" href="https://blacktransmen.org/">-</a>
        <a class="f4 fw6 db white link hover-blue" href="https://www.snap4freedom.org/?fbclid=IwAR0aXWjoZ-XsktzegjfOqlWPPKVk2pqLGUFSRXBVGYRaFvmIY6eqqv3-XcY">-</a>
        <a class="f4 fw6 db white link hover-near-black"
    </div>



    <div class="pa4 tc lh-copy">
        <h1 class="f3 fw1 baskerville mt0 yellow ttu lh-title">Petitions</h1>
        <a class="f4 fw6 db white link hover-near-black"
            href="https://www.change.org/p/andy-beshear-justice-for-breonna-taylor?source_location=topic_page">Justice for Breonna Taylor</a>
        <a class="f4 fw6 db white link hover-dark-gray" href="https://www.change.org/p/palmdale-pd-robert-fuller-was-found-dead-june-10-2020-after-he-was-found-hanging-from-a-tree-in-ca?source_location=topic_page">Justice for Robert Fuller</a>
        <a class="f4 fw6 db white link hover-mid-gray"
            href="https://www.change.org/p/ron-desantis-justice-for-bree-black?source_location=topic_page">Justice for Bree Black</a>
        <a class="f4 fw6 db white link hover-gray" href="https://untilfreedom.com/">Re-investigation for Tamla Horsford</a>
        <a class="f4 fw6 db white link hover-dark-red" href="https://www.change.org/p/governor-galvin-newsome-california-to-pardon-ruchell-magee-from-prison-being-incarcerated-since-1971-a-prisoner-who-s-been?source_location=topic_page">FREE Ruchell Cinque Magee</a>
        <a class="f4 fw6 db white link hover-red" href="https://www.change.org/p/united-states-supreme-court-justice-for-lakeith-smith?source_location=topic_page">Justice for Lakeith Smith and A’Donte Washington!</a>
        <a class="f4 fw6 db white link hover-purple" href="https://advancementproject.org/donate/">Advancement Project
            National Office</a>
        <a class="f4 fw6 db white link hover-light-purple"
            href="https://secure.eifoundation.org/site/Donation2?df_id=6082&mfc_pref=T&6082.donation=form1&s_src=kyrcmain&utm_source=kyrcmain">Know
            Your Rights Camp</a>
        <a class="f4 fw6 db white link hover-dark-pink" href="https://act.thedreamcorps.org/donate/donate/">#Cut50</a>
        <a class="f4 fw6 db white link hover-hot-pink"
            href="https://giving.uchicago.edu/site/Donation2?df_id=1714&mfc_pref=T&1714.donation=form1">Black Youth
            Project</a>
        <a class="f4 fw6 db white link hover-light-pink" href="https://www.ncbcp.org/donate/">National Coalition on
            Black Civic Participation</a>
        <a class="f4 fw6 db white link hover-dark-green" href="http://www.livefreeusa.org/ourcalling">Live Free USA</a>
        <a class="f4 fw6 db white link hover-green" href="">green on hover </a>
        <a class="f4 fw6 db white link hover-navy" href="">navy on hover </a>
        <a class="f4 fw6 db white link hover-dark-blue" href="">dark-blue on hover </a>
        <a class="f4 fw6 db white link hover-blue" href="">blue on hover </a>
    </div>

</body>

</html>