<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/local_artists.css' %}" />
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css" />
    <title>Local Artists</title>
</head>

<script src="https://use.fontawesome.com/fc14894b17.js"></script>

<body>
    <nav class="dt w-100 bg-white border-box pa3 ph5-ns">
        <a class="dtc v-mid mid-gray link dim w-25" href="/" title="Home">
            <img src="static/img/Logo_No_Text.png" class="dib w2 h2 br-100" alt="Site Name">
        </a>
        <div class="dtc v-mid w-75 tr">
            <a class="link dim dark-gray f6 f5-ns dib mr3 mr4-ns" href="/about" title="About">About</a>
            <a class="link dim dark-gray f6 f5-ns dib mr3 mr4-ns" href="/resources" title="Store">Resources</a>
            <a class="link dim dark-gray f6 f5-ns dib" href="/contact-us" title="Contact">Contact</a>
        </div>
    </nav>
    <div class="back_to_button w-100 w-60-ns pl3-ns avenir">
        <a class="db pv4 ph3 ph0-l no-underline white dim" href="/resources"><i class="fa white fa-long-arrow-left"
                aria-hidden="true"></i> Back to resources</a>
    </div>
    <h1 class="f1-l fw1 baskerville mt0 tc yellow ttu lh-title">Dallas Local Artists</h1>

    <section class="cf w-100 pa2-ns">
        {% for artist in artists %}
        <article class="fl w-100 w-50-m  w-25-ns pa2-ns">
            <div class="aspect-ratio aspect-ratio--1x1">
                <img style="background-image: url( {{artist.photo}} );"
                    class="db bg-center cover aspect-ratio--object" />
            </div>
            <a href="{{ artist.link }}" class="ph2 ph0-ns pb3 link db">
                <h3 class="f5 f4-ns tc mb0 yellow">{{ artist.name }}</h3>
                <h3 class="f6 f5 tc fw4 mt2 white-60">{{ artist.category }}</h3>
            </a>
        </article>
        {% endfor %}
    </section>
</body>

</html>