<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    {% load static %}
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css" />
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />

    <title>Admin Log-In</title>
</head>

<body>
    <!-- nav -->
    <nav class="dt w-100 bg-white border-box pa3 ph5-ns">
        <a class="dtc v-mid mid-gray link dim w-25" href="/" title="Home">
            <img src="static/img/Neighborhood-Developers-logos_black.png" class="dib w3 h3 br-100" alt="Site Name">
        </a>
        <div class="dtc v-mid w-75 tr">
            <a class="link dim dark-gray f6 f5-ns dib mr3 mr4-ns" href="/about" title="About">About</a>
            <a class="link dim dark-gray f6 f5-ns dib mr3 mr4-ns" href="/resources" title="Store">Resources</a>
            <a class="link dim dark-gray f6 f5-ns dib" href="/contact-us" title="Contact">Contact</a>
        </div>
    </nav>
    <!-- end nav -->
    <div class="container">
        <div class="row">
            <h1>Admin Log-In</h1>
        </div>
        <div class="row">
            <form action="/login" method="POST">
                {% csrf_token %}
                <div class="col">
                    <p><label for="email">Email</label></p>
                    <p><label for="password">Password</label></p>
                </div>
                <div class="col">
                    <p><input type="email" name="email" required> </p>
                    <p><input type="password" name="password" required></p>
                    <p><button type="submit">Log In</button></p>
                </div>
            </form>
        </div>
    </div>

    <footer>
        <img src="static/img/logo4.png" alt="itn" style="height: 50px;">
    </footer>
</body>

</html>