<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/products_services.css' %}" />
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css" />
    <title>Products & Services</title>
</head>
<script src="https://use.fontawesome.com/fc14894b17.js"></script>

<body>
    <div class="back_to_button w-100 w-60-ns pl3-ns avenir">
        <a class="db pv4 ph3 ph0-l no-underline white dim" href="/resources"><i class="fa white fa-long-arrow-left"
                aria-hidden="true"></i> Back to resources</a>
    </div>

    <!-- products/services columns -->
    <article class="cf">
        <div class="fl w-50  tc">
                <h1 class="f1-l fw1 baskerville mt0 pb2 tc yellow ttu lh-title">Products</h1>
            {% for product in products %}
            <a class="db center mw5 tc black link dim" href="{{ product.link }}">

                <img class="db ba b--black-10"/ alt="#"
                    src="{{ product.photo }}">

                <dl class="mt2 f6 lh-copy">
                    <dd class="ml0 white">{{ product.name }}</dd>
                    <dt class="clip">Category</dt>
                    <dd class="ml0 gray">{{ product.category }}</dd>
                </dl>
            </a>
            {% endfor %}
        </div>
        
        <div class="fl w-50  tc">
                <h1 class="f1-l fw1 baskerville mt0 pb2 tc yellow ttu lh-title">Services</h1>
            {% for service in services %}
            <a class="db center mw5 tc black link dim"  href="{{ service.link }}">

                <img class="db ba b--black-10"/ alt="#"
                    src="{{ service.photo }}">

                <dl class="mt2 f6 lh-copy">
                    <dd class="ml0 white">{{ service.name }}</dd>
                    <dt class="clip">Category</dt>
                    <dd class="ml0 gray">{{ service.category }}</dd>
                </dl>
            </a>
            {% endfor %}
        </div>
    </article>
</body>

</html>