<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css" />
    <link rel="stylesheet" href="{% static 'css/resources.css' %}" />
    <title>Resources</title>
</head>

<body>
    <nav>
        <a href="/"><img class="nav_logo" src="static/img/Logo_No_Text.png" alt="logo" /></a>
        <div class="nav links">
            <ul>
                <li class="f5 fw6  dark-red link dim"><a href="/about">About</a></li>
                <li class="f5 fw6  dark-red link dim"><a href="/resources">Resources</a></li>
                <li class="contact"> <a class="f6 link dim br-pill ba ph3 pv2 mb2 dib black" href="#0">Contact Us</a>
                </li>
            </ul>
        </div>
    </nav>
    <article class="system-sans-serif">
        <h3 class="yellow f1 ttu pa3 tc">Resources</h3>
        <p class="white center tc measure2 pa2 pb3 w-50-m w-50-ns">A list of resources to help better educate yourself
            on the history of
            systemic racism. We also provided some links for Black owned businesses to support in the DFW area as well
            as a list of petitions to sign and organizations to support.</p>

        <section class="cf w-100 ph6-ns">
            <!-- books -->
            <div class="fl w-100 w-50-m  w-33-ns pa4-ns">
                <div class="aspect-ratio aspect-ratio--1x1">
                    <img style="background-image:url(static/img/books.jpeg);"
                        class="db bg-center cover aspect-ratio--object" />
                </div>
                <a href="/books" class="ph2 ph0-ns pb3 link db ">
                    <h3 class="f5 f4-ns mb0 yellow">BOOKS</h3>
                    <h3 class="f6 f5 fw4 mt2 white">List of books to educate yourself on the history of systemic racism
                    </h3>
                </a>
            </div>
            <!-- articles -->
            <div class="fl w-100 w-50-m  w-33-ns pa4-ns">
                <div class="aspect-ratio aspect-ratio--1x1">
                    <img style="background-image:url(static/img/articles.jpeg);"
                        class="db bg-center cover aspect-ratio--object" />
                </div>
                <a href="/articles" class="ph2 ph0-ns pb3 link db">
                    <h3 class="f5 f4-ns mb0 yellow">ARTICLES</h3>
                    <h3 class="f6 f5 fw4 mt2 white">List of articles to educate yourself on the history of systemic
                        racism</h3>
                </a>
            </div>
            <!-- restaurants -->
            <div class="fl w-100 w-50-m  w-33-ns pa4-ns">
                <div class="aspect-ratio aspect-ratio--1x1">
                    <img style="background-image:url(static/img/resturant.jpeg);"
                        class="db bg-center cover aspect-ratio--object" />
                </div>
                <a href="/restaurants" class="ph2 ph0-ns pb3 link db">
                    <h3 class="f5 f4-ns mb0 yellow">RESTAURANTS</h3>
                    <h3 class="f6 f5 fw4 mt2 white">List of Black owned resturants in DFW</h3>
                </a>
            </div>
            <!-- local artists -->
            <div class="fl w-100 w-50-m  w-33-ns pa4-ns">
                <div class="aspect-ratio aspect-ratio--1x1">
                    <img style="background-image:url(static/img/artists.jpeg);"
                        class="db bg-center cover aspect-ratio--object" />
                </div>
                <a href="/local-artists" class="ph2 ph0-ns pb3 link db">
                    <h3 class="f5 f4-ns mb0 yellow">LOCAL ARTISTS</h3>
                    <h3 class="f6 f5 fw4 mt2 white">List of local artists in DFW</h3>
                </a>
            </div>
            <!-- beauty brands -->
            <div class="fl w-100 w-50-m  w-33-ns pa4-ns">
                <div class="aspect-ratio aspect-ratio--1x1">
                    <img style="background-image:url(static/img/makeup.jpeg);"
                        class="db bg-center cover aspect-ratio--object" />
                </div>
                <a href="/beauty-brands" class="ph2 ph0-ns pb3 link db">
                    <h3 class="f5 f4-ns mb0 yellow">BEAUTY BRANDS</h3>
                    <h3 class="f6 f5 fw4 mt2 white">List of Black owned beauty brands</h3>
                </a>
            </div>
            <!-- donate -->
            <div class="fl w-100 w-50-m  w-33-ns pa4-ns">
                <div class="aspect-ratio aspect-ratio--1x1">
                    <img style="background-image:url(static/img/donate.jpeg);"
                        class="db bg-center cover aspect-ratio--object" />
                </div>
                <a href="/donate" class="ph2 ph0-ns pb3 link db">
                    <h3 class="f5 f4-ns mb0 yellow">DONATE/PETITIONS</h3>
                    <h3 class="f6 f5 fw4 mt2 white">Where to donate/sign petitions</h3>
                </a>
            </div>
        </section>

        <header class="tc ph4">
            <h1 class="f2 f3-m f2-l fw2 yellow mv3">
                <a href="https://docs.google.com/spreadsheets/d/1FmKOOwcE-d_KHe4Aa0fV25UyvL6no8CtkaSl3c7rdWA/edit#gid=9291346" class="yellow link">BLACKINDFW.COM</a> 
            </h1>
            <h2 class="f6 f5-m f5-l fw2 white mt0 lh-copy">
                is a curated list of over 300 Black owned businesses in the DFW area we found on <a href="https://www.instagram.com/p/CBO5hV8HJ_g/" class="link yellow">Decent Market's</a>  instagram
            </h2>
        </header>

        <footer class="tc ">
            <img class="w-20-ns nav_logo" src="../static/img/logo4.png" alt="logo" />
        </footer>
    </article>
</body>

</html>