<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/restaurants.css' %}" />
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css" />
    <title>Restaurants</title>
</head>
<script src="https://use.fontawesome.com/fc14894b17.js"></script>


<body>
    <nav class="dt w-100 bg-white border-box pa3 ph5-ns">
        <a class="dtc v-mid mid-gray link dim w-25" href="/" title="Home">
            <img src="static/img/Logo_No_Text.png" class="dib w2 h2 br-100" alt="Site Name">
        </a>
        <div class="dtc v-mid w-75 tr">
            <a class="link dim dark-gray f6 f5-ns dib mr3 mr4-ns" href="/about" title="About">About</a>
            <a class="link dim dark-gray f6 f5-ns dib mr3 mr4-ns" href="/resources" title="Store">Resources</a>
            <a class="link dim dark-gray f6 f5-ns dib" href="/contact-us" title="Contact">Contact</a>
        </div>
    </nav>
    <div class="back_to_button w-100 w-60-ns pl3-ns avenir">
        <a class="db pv4 ph3 ph0-l no-underline white dim" href="/resources"><i class="fa white fa-long-arrow-left"
                aria-hidden="true"></i> Back to resources</a>
    </div>


    <section class="mw7 center">
        <h2 class="athelas f2 tc ph3 yellow ph0-l">Restaurants</h2>

        <!-- LOOP for restaurants in database -->
        {% for restaurant in restaurants %}
        <article class="pv4 bt bb white b--black-10 ph3 ph0-l">
            <a class="db pv4 ph3 ph0-l no-underline white dim" href="{{ restaurant.link }}">
                <div class="flex flex-column flex-row-ns">
                    <div class="w-100 w-60-ns pr3-ns order-2 order-1-ns">
                        <h1 class="f3 athelas mt0 yellow lh-title">{{ restaurant.name }}</h1>
                        <p class="f5 f5-l lh-copy athelas">
                            {{ restaurant.description }}
                        </p>
                    </div>
                    <div class="pl3-ns order-1 order-2-ns mb4 mb0-ns w-100 w-40-ns">
                        <img src="{{ restaurant.photo }}" class="db" alt="logo">
                    </div>
                </div>
            </a>
        </article>
        {% endfor %}
    </section>
</body>

</html>